input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="submit"],
input[type="url"],
input[type="password"],
input[type="not"],
textarea,
select {
  height: 34px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: white;
  border: solid 1px rgba(0, 0, 0, .1);
  box-shadow: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="submit"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  /* Removes awkward default styles on some inputs for iOS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="submit"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="not"]:focus,
textarea:focus {
  border: 1px solid #3dc057;
  outline: 0;
}

select:active {
  border: 0;
  outline: 1px solid #3dc057;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

// 
// Global Form Styles
// 
.honey {
  display: none
}

input[disabled] {
  opacity: 0.30;
}
