* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    line-height: 1.6em;
}

.container {
    width: 80%;
    margin: auto;
}

.show {
    display: block;
}

.overflow--hide {
    overflow: hidden;
}