.heading {
    font-size: 1.8em;
    word-spacing: 1.6px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
}

.heading--m {
    font-size: 1.2em;
    word-spacing: 1.6px;
    color: rgba(0, 0, 0, 0.80);
}

.heading--l {
    font-size: 3em;
}

.mw-3 {
    max-width: 300px;
}

.mw-5 {
    max-width: 500px;
}

.text-center {
    text-align: center;
}

.p-t-160 {
    padding-top: 160px;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.m-v-140 {
    margin: 140px 0;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 20px;
}


.m-b-10 {
    margin-bottom: 10px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-b-90 {
    margin-bottom: 90px;
}

.m-b-120 {
    margin-bottom: 120px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-left:after,
.pull-right:after {
    content: "";
    display: table;
    clear: both;
}


.button {
    padding: 8px 36px;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    letter-spacing: 1px;
    font-weight: 500;
}

.button.button--primary {
    background-color: #3dc057;
    color: white;
    border-color: #3dc057;
}


.button:hover {
    border-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.button.button--primary:hover {
    background-color: #33a149;
    border-color: #33a149;
    color: white;
}

.flat-link {
    color: #3dc057;
    cursor: pointer;
    text-decoration: none;
}