/*---------  Skeleton    --------*/

/* Modals style */

$modalbox__background       : white;
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $modalbox__background;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.modal__close__button {
    height: 40px;
    opacity: 0.7;
}
.modal__close__button:hover {
    opacity: 1;
    cursor: pointer;
}

.show {
    display: block;
}

.overflow--hide {
    overflow: hidden;
}
