.aboutpage {
    /*background-image: url(../images/aboutpage/map.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 1100px;
}

.aboutpage__image {
    width: 100%;
}

.aboutpage__center-heading {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.aboutpage__image,
.aboutpage__info {
    max-width: 500px;
}

.aboutpage__image,
.aboutpage__info,
.aboutpage__center-heading {
    margin-bottom: 120px;
}