.aboutpage {
    margin-bottom: 140px;
}


.aboutpage__center-heading {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.aboutpage__list {
    text-align: center;
    margin-bottom: 90px;
}

.aboutpage__cover {
    width: 100%;
    margin: 40px auto;
}

.aboutpage__info {
    max-width: 760px;
    margin: 90px auto;
    p {
        letter-spacing: 1.2px;
        line-height: 2em;
        /*text-align: justify;*/
        margin-bottom: 50px;
    }
    p.heading--s {
        margin-bottom: 10px;
    }
}

.aboutpage__wall {
    margin: 60px auto;
}

.aboutpage__wall__image {
    width: 96%;
    margin: 8px auto;
}
