.careerpage__cover {
    background-image: url('../images/careerpage/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.careerpage__benefits {
    max-width: 350px;
}

.go-life__image {
    width: 90%;
    margin-bottom: 30px;
}