.contactpage {
  background-image: url(../images/contactpage/map.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 1100px;
}

.contactpage__form {
  max-width: 400px;
  padding: 32px 36px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.contactpage__form input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 2px;
}

.contactpage__form textarea {
  min-height: 150px;
}

input.contactpage__form__submit {
  display: block;
  width: auto;
  padding: 8px 30px;
  margin-bottom: 0;
  border: none;
}

.contact__form__submit:hover {
  background-color: #33a149;
}
