footer {
    height: 300px;
}

.footer {
    background-image: url(../images/footer/waves.svg);
    background-size: cover;
    background-position: top;
    height: 100%;
    padding: 100px 0;
}

.footer__apps {
    display: flex;
    justify-content: center;
}

.footer__apps__title {
    margin-right: 20px;
}

.footer__icon {
    height: 22px;
    margin-right: 16px;
}

.footer__social {
    display: flex;
    justify-content: flex-end;
}

.footer__social__icon {
    height: 20px;
    margin-left: 30px;
}


.footer__menu__top {
    padding: 0;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    letter-spacing: 0.9px;
    margin-bottom: 60px;
}

.footer__menu__bottom {
    padding-left: 0;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}

.footer__menu__item {
    display: inline;
    list-style: none
}

.footer__menu__item a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.footer__menu__item a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.footer__menu__item.active a {
    color: rgba(0, 0, 0, 0.7);
    ;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .footer__social__icon {
        margin: 0 15px;
    }

    .footer__menu__bottom {
        margin: 20px auto;
        text-align: center;
        justify-content: center;
    }

    .footer__menu__top {
        display: block;
        line-height: 40px;
    }

    .footer__menu__item {
        margin-right: 20px;
    }
}