.map-viz {
    width: 100%;
    height: 90%;
    min-height: 500px;
    max-height: 760px;
    background-image: url('../images/dataviz.png');
    background-size: cover;
    background-position: center;
    display: table;
    margin-bottom: 100px;
}

.map-viz__title {
    display: table-cell;
    vertical-align: middle;
}


.homepage__list {
    text-align: center;
    margin-bottom: 90px;
}

.homepage__icon {
    max-height: 100px;
    max-width: 250px;
}

.homepage__wall {
    margin: 90px auto;
}

.homepage__wall__image {
    width: 96%;
    margin: 8px auto;
}

.homepage__values {
    max-width: 600px;
}

.homepage__cover-video,
.homepage__indonesia {
    position: relative;
}

.homepage__indonesia__info {
    max-width: 500px;
    margin: 12% 0;
    margin-bottom: 90px;
}
.homepage__indonesia__map {
    width: 100%;
}



.playbutton {
    height: 90px;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    z-index: 20;
    img {
        height: 100%;
    }
}

.playbutton--s {
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.homepage__impacts {
    max-width: 100%;
    margin-bottom: 90px;
}

.homepage__impacts__viz {
    width: 100%;
}

.homepage__videos {
    position: relative;
    height: 400px;
    margin-bottom: 90px;
}