<div class="aboutpage">
    <div class="container p-t-160">
        <div class="aboutpage__center-heading m-b-120">
            <p class="heading heading--l">It all started from indonesia</p>
            <p>The Idea Of God. Get The Boot A Birds Eye Look Into Mcse Boot Camps</p>
        </div>
        <div class="pure-g pure-g--gutter_wide">
            <div class="pure-u-1-2">
                <div class="aboutpage__info">
                    <p class="heading">A JOURNEY WHICH STARTED WITH A DREAM</p>
                    <p>R.A. Mashelkar holds a long list of directorships, degrees and awards, all focused on advancing science and inclusive innovation in india. He's the president of the Global Research Alliance. While promoting and leading research agencies, he also has spearheaded efforts to protect traditional knowledge and expand intellectual property rights.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <p class="heading--m">2010</p>
                <%= image_tag "aboutpage/image1.jpg", :class => 'aboutpage__image' %>
            </div>
            <div class="pure-u-1-2">
                <p class="heading--m">2010</p>
                <%= image_tag "aboutpage/image1.jpg", :class => 'aboutpage__image' %>
            </div>
            <div class="pure-u-1-2">
                <div class="aboutpage__info">
                    <p class="heading">A JOURNEY WHICH STARTED WITH A DREAM</p>
                    <p>R.A. Mashelkar holds a long list of directorships, degrees and awards, all focused on advancing science and inclusive innovation in india. He's the president of the Global Research Alliance. While promoting and leading research agencies, he also has spearheaded efforts to protect traditional knowledge and expand intellectual property rights.</p>
                </div>
            </div>
            <div class="aboutpage__center-heading">
                <p class="heading">A JOURNEY WHICH STARTED WITH A DREAM</p>
                <p>R.A. Mashelkar holds a long list of directorships, degrees and awards, all focused on advancing science and inclusive innovation in india. He's the president of the Global Research Alliance. While promoting and leading research agencies, he also has spearheaded efforts to protect traditional knowledge and expand intellectual property rights.</p>
            </div>
            <div class="pure-u-1-2">
                <div class="aboutpage__info">
                    <p class="heading">A JOURNEY WHICH STARTED WITH A DREAM</p>
                    <p>R.A. Mashelkar holds a long list of directorships, degrees and awards, all focused on advancing science and inclusive innovation in india. He's the president of the Global Research Alliance. While promoting and leading research agencies, he also has spearheaded efforts to protect traditional knowledge and expand intellectual property rights.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <p class="heading--m">2010</p>
                <%= image_tag "aboutpage/image1.jpg", :class => 'aboutpage__image' %>
            </div>
            <div class="pure-u-1-2">
                <p class="heading--m">2010</p>
                <%= image_tag "aboutpage/image1.jpg", :class => 'aboutpage__image' %>
            </div>
            <div class="pure-u-1-2">
                <div class="aboutpage__info">
                    <p class="heading">A JOURNEY WHICH STARTED WITH A DREAM</p>
                    <p>R.A. Mashelkar holds a long list of directorships, degrees and awards, all focused on advancing science and inclusive innovation in india. He's the president of the Global Research Alliance. While promoting and leading research agencies, he also has spearheaded efforts to protect traditional knowledge and expand intellectual property rights.</p>
                </div>
            </div>
            <div class="aboutpage__center-heading">
                <p class="heading">TODAY</p>
                <p>R.A. Mashelkar holds a long list of directorships, degrees and awards, all focused on advancing science and inclusive innovation in india. He's the president of the Global Research Alliance. While promoting and leading research agencies, he also has spearheaded efforts to protect traditional knowledge and expand intellectual property rights.</p>
            </div>
        </div>
    </div>
</div>