<div class="contactpage">
    <div class="container p-t-160">
        <div class="container">
            <p class="heading--l">Get In Touch</p>
            <p class="m-b-60 mw-3">We're in 3 different countries and we'd love to hear from you.</p>
            <div class="pure-g pure-g--gutter">
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
                    <div class="contactpage__form">
                        <form action='' method='post'>
                            <label for="username">Your Name</label>
                            <input type="text" id="name" name="username" required="true" />
                            <label for="email">Email ID</label>
                            <input type="text" id="email" name="email" required="true" />
                            <label for="phone">Phone</label>
                            <input type="number" id="phone" name="phone" required="true" />
                            <label for="message">Message</label>
                            <textarea></textarea>
                            <input class="button button--primary contactpage__form__submit" type="submit" value="Send" />
                        </form>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
                    <p class="heading--s">India</p>
                    <p class="m-b-90 mw-3">Diamond District, HAL Old Airport Road, Bangalore, 560008, +91-9876543210</p>
                    <p class="heading--s">Indonesia</p>
                    <p class="m-b-90 mw-3">Jl. Kerinci 2 Senayan Kebayoran Baru Jakarta Selatan DKI Jakarta, Kota Jakarta Selatan, DKI Jakarta 12120</p>
                    <p class="heading--s">Singapore</p>
                    <p class="m-b-90 mw-3">8 Shenton Way #08-02, AXA Tower Singapore 068811</p>
                </div>
            </div>
        </div>
    </div>
</div>