<div class="contactpage">
  <div class="container p-t-160">
    <div class="container">
      <p class="heading--l">Get In Touch</p>
      <p class="m-b-60 mw-3">We believe in creating infinite opportunities to unleash social impact through
        technology. Do you share the same belief?</p>
      <div class="pure-g pure-g--gutter">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
          <div class="contactpage__form">
            <a href="https://goo.gl/eLPAsY">Upload</a> your resume!
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
          <p class="heading--s">India</p>
          <p class="m-b-90 mw-3">Diamond District, HAL Old Airport Road, Bangalore, 560008, +91-9876543210</p>
          <p class="heading--s">Indonesia</p>
          <p class="m-b-90 mw-3">Jl. Kerinci 2 Senayan Kebayoran Baru Jakarta Selatan DKI Jakarta, Kota
            Jakarta Selatan, DKI Jakarta 12120</p>
          <p class="heading--s">Singapore</p>
          <p class="m-b-90 mw-3">8 Shenton Way #08-02, AXA Tower Singapore 068811</p>
        </div>
      </div>
    </div>
  </div>
</div>
