<div class="careerpage p-t-160">
  <div class="container">
    <p class="heading heading--l text-center ">NEWS</p>
    <p class="text-center">
      Tech in Asia, 2017/12/15:
      <%= link_to 'Go-Jek buys 3 fintech firms to conquer Indonesia payments', 'https://www.techinasia.com/go-jek-acquisition-kartuku-mapan-midtrans', :class => 'flat-link' %>
    </p>    
	<p class="text-center">
      Tech in Asia, 2017/11/21:
      <%= link_to 'An insider’s account of how GO-JEK hit 900x scale in 18 months and is still doubling', 'https://www.techinasia.com/gojek-insider-account-of-scaling-900x-doubling', :class => 'flat-link' %>
    </p>
    <p class="text-center">
      South China Morning Post, 2017/10/22:
      <%= link_to 'How Indonesian Unicorn GO-JEK went from 20 bikes to US$2.5 Billion And An E-Money Revolution', 'http://www.scmp.com/week-asia/business/article/2116287/how-indonesian-unicorn-go-jek-went-20-bikes-us25-billion-and-e', :class => 'flat-link' %>
    </p>
    <p class="text-center">
      YourStory.com, 2017/05/09:
      <%= link_to 'How a small-town commerce graduate became CTO of a multibillion-dollar company', 'https://yourstory.com/2017/05/techie-tuesdays-ajey-gore/', :class => 'flat-link' %>
    </p>
  </div>
</div>
