<div class="newspage p-t-160">
  
  
  <div class="container">
    <div class="news-list pure-g">
      <% data.news.each_with_index  do |item, index| %>
      <a class="news-item pure-u-lg-1-3 pure-u-md-1-2" href="<%= item.url %>">
        <p class="text-center">
          <span class="news-item-source"><%= item.source %></span>, 
          <span class="news-item-date"><%= item.date %></span>
        </p>
        <p class="news-item-title text-center "><%= item.title %></p>

      </a>
      <% end %>  
    </div>
  </div>
</div>
