<div class="teampage p-t-160">
    <div class="container">
        <p class="heading heading--l text-center">OUR PEOPLE</p>
        <p class="text-center m-b-90">The Idea Of God. Get The Boot A Birds Eye Look Into Mcse Boot Camps</p>
        <div class="pure-g pure-g--gutter">
            <div class="pure-u-1-2">
                <div class="person-image" style="background-image: url('../assets/images/teampage/person1.png');"></div>
            </div>
            <div class="pure-u-1-2">
                <div class="person-info">
                    <p class="heading m-0 m-b-10">Nancy Hale</p>
                    <p>CEO | The Dreamer</p>
                    <p class="mw-5">Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Its colonial core centers on the Padang, a cricket field since the 1830s and now flanked by grand buildings such as City Hall, with its 18 Corinthian columns.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="person-info">
                    <p class="heading m-0 m-b-10">Lucas Long</p>
                    <p>CEO | The Dreamer</p>
                    <p class="mw-5">Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Its colonial core centers on the Padang, a cricket field since the 1830s and now flanked by grand buildings such as City Hall, with its 18 Corinthian columns.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="person-image" style="background-image: url('../assets/images/teampage/person2.png');"></div>
            </div>
            <div class="pure-u-1-2">
                <div class="person-image" style="background-image: url('../assets/images/teampage/person3.png');"></div>
            </div>
            <div class="pure-u-1-2">
                <div class="person-info">
                    <p class="heading m-0 m-b-10">Glenn Fleming</p>
                    <p>CEO | The Dreamer</p>
                    <p class="mw-5">Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Its colonial core centers on the Padang, a cricket field since the 1830s and now flanked by grand buildings such as City Hall, with its 18 Corinthian columns.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="person-info">
                    <p class="heading m-0 m-b-10">Lilly Howell</p>
                    <p>CEO | The Dreamer</p>
                    <p class="mw-5">Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Its colonial core centers on the Padang, a cricket field since the 1830s and now flanked by grand buildings such as City Hall, with its 18 Corinthian columns.</p>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="person-image" style="background-image: url('../assets/images/teampage/person4.png');"></div>
            </div>
        </div>
        <p class="heading text-center">Be a part of our Family</p>
        <p class="button m-auto m-b-60">We are Hiring</p>
    </div>
</div>