<div class="teampage p-t-160">
    <div class="container">
        <p class="heading text-center">OUR PEOPLE</p>
        <p class="text-center m-b-90">The Idea Of God. Get The Boot A Birds Eye Look Into Mcse Boot Camps</p>
        
    </div>
</div>